/* Sasshat Sass Library
 * Author: wang.2gou
 * Email: willian12345@126.com
 * Date: 2014-06-06
 * Vertion: Beta
 * Github: https://github.com/willian12345/sasshat
 * Sass-vertion: Sass@3.7.7
 */
@-webkit-keyframes slideFromLeft {
  0% {
    -webkit-transform: translateX(1000px);
    -moz-transform: translateX(1000px);
    -ms-transform: translateX(1000px);
    transform: translateX(1000px); }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }
@-moz-keyframes slideFromLeft {
  0% {
    -webkit-transform: translateX(1000px);
    -moz-transform: translateX(1000px);
    -ms-transform: translateX(1000px);
    transform: translateX(1000px); }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }
@-ms-keyframes slideFromLeft {
  0% {
    -webkit-transform: translateX(1000px);
    -moz-transform: translateX(1000px);
    -ms-transform: translateX(1000px);
    transform: translateX(1000px); }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }
@keyframes slideFromLeft {
  0% {
    -webkit-transform: translateX(1000px);
    -moz-transform: translateX(1000px);
    -ms-transform: translateX(1000px);
    transform: translateX(1000px); }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }
@-webkit-keyframes slideFromRight {
  0% {
    -webkit-transform: translateX(-1000px);
    -moz-transform: translateX(-1000px);
    -ms-transform: translateX(-1000px);
    transform: translateX(-1000px); }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }
@-moz-keyframes slideFromRight {
  0% {
    -webkit-transform: translateX(-1000px);
    -moz-transform: translateX(-1000px);
    -ms-transform: translateX(-1000px);
    transform: translateX(-1000px); }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }
@-ms-keyframes slideFromRight {
  0% {
    -webkit-transform: translateX(-1000px);
    -moz-transform: translateX(-1000px);
    -ms-transform: translateX(-1000px);
    transform: translateX(-1000px); }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }
@keyframes slideFromRight {
  0% {
    -webkit-transform: translateX(-1000px);
    -moz-transform: translateX(-1000px);
    -ms-transform: translateX(-1000px);
    transform: translateX(-1000px); }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }
@-webkit-keyframes slideFromTop {
  0% {
    -webkit-transform: translateY(-1000px);
    -moz-transform: translateY(-1000px);
    -ms-transform: translateY(-1000px);
    transform: translateY(-1000px); }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }
@-moz-keyframes slideFromTop {
  0% {
    -webkit-transform: translateY(-1000px);
    -moz-transform: translateY(-1000px);
    -ms-transform: translateY(-1000px);
    transform: translateY(-1000px); }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }
@-ms-keyframes slideFromTop {
  0% {
    -webkit-transform: translateY(-1000px);
    -moz-transform: translateY(-1000px);
    -ms-transform: translateY(-1000px);
    transform: translateY(-1000px); }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }
@keyframes slideFromTop {
  0% {
    -webkit-transform: translateY(-1000px);
    -moz-transform: translateY(-1000px);
    -ms-transform: translateY(-1000px);
    transform: translateY(-1000px); }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }
@-webkit-keyframes slideFromBottom {
  0% {
    -webkit-transform: translateY(1000px);
    -moz-transform: translateY(1000px);
    -ms-transform: translateY(1000px);
    transform: translateY(1000px); }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }
@-moz-keyframes slideFromBottom {
  0% {
    -webkit-transform: translateY(1000px);
    -moz-transform: translateY(1000px);
    -ms-transform: translateY(1000px);
    transform: translateY(1000px); }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }
@-ms-keyframes slideFromBottom {
  0% {
    -webkit-transform: translateY(1000px);
    -moz-transform: translateY(1000px);
    -ms-transform: translateY(1000px);
    transform: translateY(1000px); }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }
@keyframes slideFromBottom {
  0% {
    -webkit-transform: translateY(1000px);
    -moz-transform: translateY(1000px);
    -ms-transform: translateY(1000px);
    transform: translateY(1000px); }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }
@-webkit-keyframes opacityList {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-moz-keyframes opacityList {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-ms-keyframes opacityList {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@keyframes opacityList {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
.list {
  margin: 0;
  padding: 0;
  width: 100px; }
  .list li {
    margin: 0;
    padding: 0;
    width: 100px;
    height: 40px;
    border-bottom: 1px solid red;
    opacity: 0;
    background: green;
    list-style: none; }

.list li:nth-child(10) {
  -webkit-animation: opacityList 0.5s 0s ease;
  -moz-animation: opacityList 0.5s 0s ease;
  -ms-animation: opacityList 0.5s 0s ease;
  animation: opacityList 0.5s 0s ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.list li:nth-child(9) {
  -webkit-animation: opacityList 0.5s 0.1s ease;
  -moz-animation: opacityList 0.5s 0.1s ease;
  -ms-animation: opacityList 0.5s 0.1s ease;
  animation: opacityList 0.5s 0.1s ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.list li:nth-child(8) {
  -webkit-animation: opacityList 0.5s 0.2s ease;
  -moz-animation: opacityList 0.5s 0.2s ease;
  -ms-animation: opacityList 0.5s 0.2s ease;
  animation: opacityList 0.5s 0.2s ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.list li:nth-child(7) {
  -webkit-animation: opacityList 0.5s 0.3s ease;
  -moz-animation: opacityList 0.5s 0.3s ease;
  -ms-animation: opacityList 0.5s 0.3s ease;
  animation: opacityList 0.5s 0.3s ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.list li:nth-child(6) {
  -webkit-animation: opacityList 0.5s 0.4s ease;
  -moz-animation: opacityList 0.5s 0.4s ease;
  -ms-animation: opacityList 0.5s 0.4s ease;
  animation: opacityList 0.5s 0.4s ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.list li:nth-child(5) {
  -webkit-animation: opacityList 0.5s 0.5s ease;
  -moz-animation: opacityList 0.5s 0.5s ease;
  -ms-animation: opacityList 0.5s 0.5s ease;
  animation: opacityList 0.5s 0.5s ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.list li:nth-child(4) {
  -webkit-animation: opacityList 0.5s 0.6s ease;
  -moz-animation: opacityList 0.5s 0.6s ease;
  -ms-animation: opacityList 0.5s 0.6s ease;
  animation: opacityList 0.5s 0.6s ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.list li:nth-child(3) {
  -webkit-animation: opacityList 0.5s 0.7s ease;
  -moz-animation: opacityList 0.5s 0.7s ease;
  -ms-animation: opacityList 0.5s 0.7s ease;
  animation: opacityList 0.5s 0.7s ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.list li:nth-child(2) {
  -webkit-animation: opacityList 0.5s 0.8s ease;
  -moz-animation: opacityList 0.5s 0.8s ease;
  -ms-animation: opacityList 0.5s 0.8s ease;
  animation: opacityList 0.5s 0.8s ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.list li:nth-child(1) {
  -webkit-animation: opacityList 0.5s 0.9s ease;
  -moz-animation: opacityList 0.5s 0.9s ease;
  -ms-animation: opacityList 0.5s 0.9s ease;
  animation: opacityList 0.5s 0.9s ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }
