/* Sasshat Sass Library
 * Author: wang.2gou
 * Email: willian12345@126.com
 * Date: 2014-06-06
 * Vertion: Beta
 * Github: https://github.com/willian12345/sasshat
 */
.hello {
  width: 100px; }

.hi {
  width: 100px; }

@-webkit-keyframes show {
  0% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    background: red; }

  100% {
    background: green; } }
@-moz-keyframes show {
  0% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    background: red; }

  100% {
    background: green; } }
@-ms-keyframes show {
  0% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    background: red; }

  100% {
    background: green; } }
@keyframes show {
  0% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    background: red; }

  100% {
    background: green; } }
input::-webkit-input-placeholder {
  color: red; }

input::-moz-input-placeholder {
  color: red; }

input::-ms-input-placeholder {
  color: red; }

input::input-placeholder {
  color: red; }

#header {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px black, -5px -5px 0 red, inset 2px 2px 4px 1px yellow;
  -moz-box-shadow: 5px 5px 5px black, -5px -5px 0 red, inset 2px 2px 4px 1px yellow;
  -ms-box-shadow: 5px 5px 5px black, -5px -5px 0 red, inset 2px 2px 4px 1px yellow;
  box-shadow: 5px 5px 5px black, -5px -5px 0 red, inset 2px 2px 4px 1px yellow;
  -webkit-background-size: 40%;
  -moz-background-size: 40%;
  -ms-background-size: 40%;
  background-size: 40%;
  -webkit-border-radius: 10px 0 10px;
  -moz-border-radius: 10px 0 10px;
  -ms-border-radius: 10px 0 10px;
  border-radius: 10px 0 10px;
  -webkit-filter: brightness(0.5);
  -moz-filter: brightness(0.5);
  -ms-filter: brightness(0.5);
  filter: brightness(0.5);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-filter: drop-shadow(0 1px 5px rgba(0, 0, 0, 0.5));
  -moz-filter: drop-shadow(0 1px 5px rgba(0, 0, 0, 0.5));
  -ms-filter: drop-shadow(0 1px 5px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0 1px 5px rgba(0, 0, 0, 0.5));
  -webkit-filter: grayscale(0.5) blur(10px);
  -moz-filter: grayscale(0.5) blur(10px);
  -ms-filter: grayscale(0.5) blur(10px);
  filter: grayscale(0.5) blur(10px); }
